.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 8vh;
    font-weight: 600;
    color: white;
    display: flex;
    background-color: #1B1B1B;
}

.ytlogo {
    height: 12vh;
}

.startdiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    font-size: 20px;
}

.onclick {
    /* border-style: solid; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.onclick:hover {

    background-color: rgba(139, 152, 163, 0.511);
}

.searchdiv {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.searchdiv input {
    height: 3.8vh;
    width: 500px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.searchbar {
    border: rgba(65, 69, 72, 0.859) 1px solid;
    border-radius: 50px;
    height: 5vh;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
}

.searchlogo {
    font-size: 20px;
}

.moblieres {
    display: none;
}


.sigindiv {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.btn {
    width: fit-content;
    padding:10px;
    height: 5vh;
    border: solid 1px rgba(65, 69, 72, 0.859);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: transparent;
}

/* ======================================================================
   MOBILE RESPONSIVE
   ====================================================================== */

@media screen and (max-width:430px) {
    .onclick{
        display: none;
    }
    .searchdiv {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .searchbar {
        display: none;
    }

    .moblieres {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }

    .searchlogomr {
        font-size: 25px;
    }

    .sigindiv {
        display: none;
    }
}